
{% extends "base.html" %}

{% block my_content %}

  <form method="POST" action="">
    {{ pflanze_form.hidden_tag() }}
      {{ pflanze_form.name(placeholder = "Bitte Name der Pflanze eingeben") }}
      {{ pflanze_form.wissenschaft_name() }}
      {{ pflanze_form.familie() }}
      {{ pflanze_form.vegetationszone() }}
      {{ pflanze_form.will_sonne() }}
      {{ pflanze_form.gefahr() }}
      {{ pflanze_form.anlegen() }}
  </form>
  <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Wissenschaftl. Name</th>
          <th>Familie</th>
          <th>Bild</th>
          <th>Vegetationszone</th>
          <th>Standort</th>
          <th>Gefahr</th>
          <th>Aktion</th>
        </tr>
      </thead>
    {% for pflanze in pflanzen %}
      <tbody>
        <tr>
          <td>{{pflanze.name}}</td>
          <td>{{pflanze.wissenschaft_name}}</td>
          <td>{{pflanze.familie}}</td>
          <td><img src="{{'/static/uploads/pflanze_' + pflanze.id|string + '.jpg'}}" alt="" height="50" width="50"></td>
          <td>{{pflanze.vegetationszone}}</td>
          <td>{{pflanze.will_sonne}}</td>
          <td>{{pflanze.gefahr}}</td>
          <td><a href="{{url_for('form_pflanze_details', id=pflanze.id)}}">Details</a></td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
  </div>
  {% endblock %}