
{% extends "base.html" %}

{% block my_content %}

<div class="container">

  <form method="POST" action="" novalidate>
    {{ pflanze_form.hidden_tag() }}
      {{ wtf.form_field(pflanze_form.name) }}
      {{ wtf.form_field(pflanze_form.wissenschaft_name) }}
      {{ wtf.form_field(pflanze_form.familie) }}
      {{ wtf.form_field(pflanze_form.vegetationszone) }}
      {{ wtf.form_field(pflanze_form.will_sonne) }}
      {{ wtf.form_field(pflanze_form.gefahr) }}
      {{ wtf.form_field(pflanze_form.anlegen) }}
  </form>
  <div>
    <table id="data" class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Wissenschaftl. Name</th>
          <th>Familie</th>
          <th>Bild</th>
          <th>Vegetationszone</th>
          <th>Standort</th>
          <th>Gefahr</th>
          <th>Aktion</th>
        </tr>
      </thead>
    {% for pflanze in pflanzen %}
      <tbody>
        <tr>
          <td>{{pflanze.name}}</td>
          <td>{{pflanze.wissenschaft_name}}</td>
          <td>{{pflanze.familie}}</td>
          <td><img src="{{'/static/uploads/pflanze_' + pflanze.id|string + '.jpg'}}" alt="" height="50" width="50"></td>
          <td>{{pflanze.vegetationszone}}</td>
          <td>{{pflanze.will_sonne}}</td>
          <td>{{pflanze.gefahr}}</td>
          <td><a class="btn btn-default" href="{{url_for('form_pflanze_details', id=pflanze.id)}}" role="button">Details</a></td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
  </div>
</div>
  {% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function(){
      $('#data').DataTable(); //Hinzufügen von sorting, filtering, paging zur Tabelle
    });
  </script>
{% endblock %}